node_modules
.DS_Store
dist
dist-ssr
*.local
.eslintcache
report.html
.git
.gitignore
.gitattributes
.gradle
.tmp-layers

yarn.lock
npm-debug.log*
.pnpm-error.log*
.pnpm-debug.log
tests/**/coverage/

# Editor directories and files
.idea
*.iml
*.suo
*.ntvs*
*.njsproj
*.sln
tsconfig.tsbuildinfo
.github
.vscode
.settings
.classpath
.project
docker/
sql/
GoogleStyle.xml
*.md
.gitbook
.editorconfig
build/
**/build/
**/out/
**/logs/
keystone-domain/log*
bin/
docker/app/
*.tar